label.hamburger {
  display: none;
  background-color: #fefff0;
  width: 30px;
  height: 50px;
  position: relative;
  cursor: pointer;
  @media(max-width: 1024px) {
    display: block;
  }
}

input#hamburger {
  display: none;
}

.line {
   position: absolute;
   height: 6px;
   width: 100%;
   background: #c26f4c;
   border-radius:2px; 
   transition: 0.5s;
}

.line:nth-child(1) { top: 18px; }
.line:nth-child(2) { top: 28px; }

#hamburger:checked + .hamburger .line:nth-child(1){
   transform: translateY(5px) rotate(-35deg);
}

#hamburger:checked + .hamburger .line:nth-child(2){
   transform: translateY(-5px) rotate(35deg);
}

label.hamburger-sub {
  display: none;
  background-color: #c26f4c;
  width: 30px;
  height: 50px;
  position: relative;
  cursor: pointer;
  @media(max-width: 1024px) {
    display: block;
    position: absolute;
    top: 10px;
    left: 75%;
  }
}


input#hamburger-sub {
  display: none;
}

#hamburger-sub:checked + .hamburger-sub .line:nth-child(1){
   transform: translateY(5px) rotate(-35deg);
}

#hamburger-sub:checked + .hamburger-sub .line:nth-child(2){
   transform: translateY(-5px) rotate(35deg);
}

.hamburger-sub>.line {
   position: absolute;
   height: 6px;
   width: 100%;
   background: #fff;
   border-radius:2px; 
   transition: 0.5s;
}