.button {
	font-family: $fontSecondary;
	display: flex;
	align-items: center;
	padding: 0 15px;
	border-radius: 100px;
	width: clamp(100px, 30vw, 210px);
/* 	width: 210px; */
/* 	height: 60px; */
	aspect-ratio: 3.5 / 1;
	background-color: #c26f4c;
	color: #fff;
	justify-content: space-around;
	cursor: pointer;
	font-weight: 600;
	font-size: clamp(0.1rem, 2vw, 1.5rem); 

	span {
	/* 	width: 30px;
		height: 30px; */
		width: clamp(3px, 4vw, 30px);
		aspect-ratio: 1/1;
		background-color: #fff;
		border-radius: 50px;
		
	}
}