
// Global
@import './vars';
@import './reset';
@import './global';
@import './burger';



html, body {
  margin: 0;
  padding: 0;
  background-color: #eff0e6;
}
	.scrolled {
		border-bottom: 0.5px solid rgba(9, 29, 20, 0.75) !important;
		background: rgba(12, 53, 35, 0.75) !important;
	}

  .scrolled .header_nav .logo {
    width: 80px;
    height: 80px;
    transition: all 0.3s ease;
  }





// Sections
@import './fixed';
@import './heading';
@import './button';
@import './header';
@import './card';
@import './tabs';
@import './carry';
@import './info';
@import './follow';
@import './footer';

@media (max-width: 768px) {
  a, button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}



// @import './footer';

// Libs

